if SHIELD_NANO2_LEFT

config ZMK_KEYBOARD_NAME
    default "nano2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_NANO2_LEFT

if SHIELD_NANO2_LEFT || SHIELD_NANO2_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_NANO2_LEFT || SHIELD_NANO2_RIGHT
